<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="menu-body">
        <h3>Resumo</h3>
        <% @orders.each do |order| %>
          <div class="menu-item">
            <div class="menu-item-name">
              <%= order.meal.name %>
            </div>
            <div class="menu-item-price">
              <%=  humanized_money_with_symbol(order.meal.price) %>
            </div>
            <div class="menu-item-price">
              <%= order.quantity %>
            </div>
            <div class="menu-item-description">
              <%= order.meal.description  %>
            </div>
            <div class="menu-buttons">
              <div class="menu-item-btn">
                <%= link_to "Editar", edit_order_path(order), class: "btn btn-primary" %>
              </div>
              <div class="menu-item-btn">
                <%= link_to 'Remover', order_path(order),  method: :delete, data: { confirm: 'Tem Certeza?' },  class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

