<div class="row">
  <div class="col-md-6">
    <div class="menu-body">
      <% @meals.each do |meal| %>
        <div class="menu-item">
          <div class="menu-item-name">
            <%= meal.name %>
          </div>
          <div class="menu-item-price">
            <%=  humanized_money_with_symbol(meal.price) %>
          </div>
          <div class="menu-item-description">
            <%= meal.description  %>
          </div>
          <div class="menu-item-btn">
            <%= link_to "Adicionar ao Carrinho", new_meal_order_path(meal), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <p>Carrinho de Compras</p>
      <%= simple_form_for [@cart] do |f| %>
        <% @orders.each do |order| %>
          <li class="list-group-item shop-cart">
            <p><%="#{order.quantity}  x #{order.meal.name }"  %></p>
            <p><%= humanized_money_with_symbol(order.quantity * order.meal.price) %></p>
            <%= f.input :order_ids, as: :hidden, input_html: { value: "#{order.id}"} %>
          </li>
        <% end %>
        <div class="menu-item-btn">
          <%= f.button :submit, "Continuar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>

