<!DOCTYPE html>
<html>
  <head>
    <title>Donafitpaulista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if controller_name == "pages" && action_name = "index" %>
      <%= render 'shared/home_navbar' %>
    <% else  %>
      <%= render 'shared/navbar' %> %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
